/* ================border=================== */
.border{
    border-width: 5px;
    border-color: red green blue black;}

.br-none{border:none !important;}
.br-1{
    border:1px solid var(--border-color) !important;
    box-sizing: border-box;}